.categorycontent{
  padding-top: 300px;
}

.catelist-left .list-left-button{
  display: block;
  width: 400px;
  height: 200px;
  font-size: 50px;
  border: none;
  background-color: rgb(243, 243, 243);
}
.catelist-left{
  float: left;
}
.catelist-right{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 470px;
}

.catelist-right .list-right-button{
  width: 280px;
  height: 120px;
  font-size: 40px;
  border: none;
  margin: 40px 20px;
  border-radius: 80px;
  background-color: white;
  border: 3px solid #108ee9;
}
