.detailcontent{
  .header {
    text-align: center;
    img{
      width: 100%;
    }
    span{
      display: block;
      margin-left: 1.2rem;
      font-size: 0.3rem;
      padding: 0.1rem 0 0.1rem;
      font-weight: bold;
      color: #ff9317
    }
    h3{
      font-size: 0.7rem;
      padding: .1rem 0 .1rem 0;
    }
    button{
      float: right;
      margin-right: 0.8rem;
      margin-top: 0.1rem;
      background-color: transparent;
      outline: none;
      border: none;
      img{
        width: 0.6rem;
        border: none;
      }
      h5{
        font-size: 0.25rem;
        color: goldenrod;
      }
    }
  }
  //主料
  .ingredients{
    text-align: left;
    font-size: 0.5rem;
    padding-left: 0.2rem;
    span:nth-child(1){
      font-weight: bold;
    }
    span:nth-child(2){
      font-size: 0.4rem;
    }
  }

  //辅料
  .burden{
    text-align: left;
    font-size: 0.5rem;
    padding-left: 0.2rem;

    span:nth-child(1){
      font-weight: bold;
    }
    span:nth-child(2){
      font-size: 0.4rem;
    }
  }

  .steps{
    border-top: 5px solid goldenrod;
    padding-top: 50px;
    padding-bottom: 200px;
    margin-top: 0.5rem;
    h4{
      text-align: left;
      font-size: 0.5rem;
      padding: 0 0 0.2rem 0.2rem;
    }
    img{
      width: 100%;
      margin: 0 auto;
    }
  }
}
