.ant-input {
    background-color: rgba(0,0,0,0.4);
    height: 70px;
    border-radius: 25px;
    font-size: 28px;
    left: 5%;
}
.content{
    position: relative;
    width: 90%;
    text-align: center;
    top: -100px;
}
.myimg{
    width: 32px;
    height: 32px;
}
.content a{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5%;
    line-height: 70px;
    z-index: 10;
}