.searchcellcontent {
  background-color: #ececec;
  margin-bottom: 20px;
  .pic {
    float: left;
    width: 400px;
    height: auto;
    margin: 25px;
  }
  .detail {
    color: #999;
    padding-left: 135px;
  }
  h4{
    text-align: left;
  }
  h4 em{
    font-size: 80px;
  }
  h4 span{
    font-size: 50px;
    padding: 0 0 20px 40px;
    color: orange;
  }
  .subcontent{
    font-size: 70px;
    text-align: left;
  }
  .author{
    font-size: 60px;
    text-align: left;
  }
  .clearfix{
    clear: both;
  }
}