.searchlistviewcell {
  background-color: #ececec;
  margin-top: 0.3rem;
  .pic {
    float: left;
  }
  .pic img{
    width: 3rem;
  }
  .detail {
    padding-left: 3.5rem;
    p{
      padding: 0.2rem 0;
    }
  }
  .detail h4{
    text-align: left;
    line-height: 0.6rem;
    em{
      font-size: 0.4rem;
    }
    span{
      font-size: 0.4rem;
      padding-left: 0.2rem;
      color: orange;
    }
  }

  .subcontent{
    font-size: 0.4rem;
    text-align: left;
  }
  .author{
    font-size: 0.4rem;
    text-align: left;
  }
  .clearfix{
    clear: both;
  }
}